html
  head
    title Transempregos
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='./app/app.stylesheet.css')
    script(type='text/javascript').
      var _jobs = !{JSON.stringify(jobs)};
    // 3. Display the application
  body
    app Loading...
    script(src='bundle.js')